@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "alibaba";
        src: url("/src/fonts/Alibaba-regular.woff2") format("woff2");
    }

    body {
        font-family: "alibaba", sans-serif;
    }

    .product-box-item__link {
        @apply flex flex-col items-center justify-center w-[144px] h-[80px] pt-2 pb-1 px-6
    }

    .product-box-item__link-svg {
        @apply size-[36px] mx-[30px] mb-1
    }
}